html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES  */

:root {
  --orange: #f2852f;
  --darkOrange: #905917;
  --borderOrange: #fbccaa;
  --blue: #68d2e7;
  --darkBlue: #168a93;
  --shadowGrey: rgba(70, 70, 70, 0.5);
  --hoverColor: #69645f;
  --gridLines: #69645f;
}

/* BEGIN MAIN CSS  */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  padding: 5%;
}

#mainContainer {
  box-shadow: 0px 0px 15px 15px var(--shadowGrey);
  -webkit-box-shadow: 0px 0px 15px 15px var(--shadowGrey);
  -moz-box-shadow: 0px 0px 15px 15px var(--shadowGrey);
}

/* SCOREBOARD STYLING  */

#scoreBoard {
  width: 500px;
  height: 100px;
  border: 5px solid var(--borderOrange);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#playerOne,
#playerTwo,
#tieGames {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
  gap: 20px;
}

#playerOneScore,
#playerTwoScore,
#timeGameScore {
}

#playerOne {
  color: var(--darkOrange);
  font-size: 1.2em;
}
#playerTwo {
  color: var(--darkBlue);
  font-size: 1.2em;
}

#tieGames {
  font-size: 1.2em;
}

/* GAME BOARD STYLING  */

#boardContainer {
  width: 100%;
  height: 450px;
  border: 5px solid var(--borderOrange);
}

#game-board {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 5px solid var(--borderOrange); */
}

.boardSpace {
  border: 2px solid var(--gridLines);
  height: 33.33%;
  width: 33.33%;
}

/* CONTROL PANEL CSS  */

#controlPanel {
  width: 100%;
  /* height: 150px; */
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--borderOrange);
  font-size: 1.3em;
}
/* 
#topControlPanel,
#bottomControlPanel {
  display: flex;
}

#topControlPanel {
  gap: 115px;
  justify-content: center;
  width: 100%;
} */

#resetButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--borderOrange);
  border-radius: 75%;
  height: 40px;
}

#resetButton span {
  font-size: 2em;
}

#resetButton:hover {
  cursor: pointer;
  background-color: var(--gridLines);
}

#gameMode {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 150px;
}

#gameModeOptions {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

#vsPlayer,
#vsComputer {
  display: flex;
  align-items: center;
  gap: 3px;
}

#designedBy {
  position: absolute;
  bottom: 0;
}

.selectedGameMode {
  background-color: var(--borderOrange);
  border-radius: 15px;
  padding: 5px;
}

#playAs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

#playAsOptions {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-evenly;
  align-items: center;
}

#playAsX span,
#playAsO span {
  font-size: 2em;
}

#playAsX span:hover,
#playAsO span:hover {
  cursor: pointer;
  color: var(--hoverColor);
}

/* TOGGLE SWITCH  */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--borderOrange);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 35px;
  width: 35px;
  left: 4px;
  bottom: 3px;
  background-color: var(--gridLines);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  /* background-color: #2196f3; */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider.round span:nth-child(1) {
  position: absolute;
  top: 8px;
  left: 10px;
}

.slider.round span:nth-child(2) {
  position: absolute;
  top: 8px;
  right: 10px;
}

/* BIG SLIDER  */

/* The switch - the box around the slider */
.bigswitch {
  position: relative;
  display: inline-block;
  width: 185px;
  height: 40px;
}

/* Hide default HTML checkbox */
.bigswitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.bigslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--borderOrange);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bigslider:before {
  border-radius: 15px !important;
  position: absolute;
  content: '';
  height: 35px;
  width: 80px;
  left: 4px;
  bottom: 3px;
  background-color: var(--gridLines);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .bigslider {
  /* background-color: #2196f3; */
}

input:focus + .bigslider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .bigslider:before {
  -webkit-transform: translateX(98px);
  -ms-transform: translateX(98px);
  transform: translateX(98px);
}

/* Rounded sliders */
.bigslider.biground {
  border-radius: 34px;
}

.bigslider.biground:before {
  border-radius: 50%;
}

/* PLAYER VS PLAYER  */
.bigslider.biground span:nth-child(1) {
  position: absolute;
  top: 8px;
  left: 5px;
}

.bigslider.biground span:nth-child(2) {
  position: absolute;
  top: 11px;
  left: 35px;
}

.bigslider.biground span:nth-child(3) {
  position: absolute;
  top: 8px;
  left: 55px;
}

/* PLAYER VS COMP */
.bigslider.biground span:nth-child(4) {
  position: absolute;
  top: 8px;
  right: 5px;
}

.bigslider.biground span:nth-child(5) {
  position: absolute;
  top: 11px;
  right: 35px;
}

.bigslider.biground span:nth-child(6) {
  position: absolute;
  top: 8px;
  right: 55px;
}

#topControlPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

#bottomControlPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.difficulty-button {
  border-radius: 15px;
  font-size: 0.7em;
  border: none;
  padding: 10px 20px;
  background-color: var(--borderOrange);
}

.difficulty-button:hover {
  cursor: pointer;
  background-color: var(--gridLines);
  color: var(--borderOrange);
}
