html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES  */

:root {
  --orange: #f2852f;
  --darkOrange: #905917;
  --borderOrange: #fbccaa;
  --blue: #68d2e7;
  --darkBlue: #168a93;
  --shadowGrey: rgba(70, 70, 70, 0.5);
  --hoverColor: #69645f;
  --gridLines: #69645f;
}

/* BEGIN MAIN CSS  */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  padding: 5%;
}

#mainContainer {
  box-shadow: 0px 0px 15px 15px var(--shadowGrey);
  -webkit-box-shadow: 0px 0px 15px 15px var(--shadowGrey);
  -moz-box-shadow: 0px 0px 15px 15px var(--shadowGrey);
}

/* SCOREBOARD STYLING  */

#scoreBoard {
  width: 500px;
  height: 100px;
  border: 5px solid var(--borderOrange);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#playerOne,
#playerTwo,
#tieGames {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
  gap: 20px;
}

#playerOneScore,
#playerTwoScore,
#timeGameScore {
}

#playerOne {
  color: var(--darkOrange);
  font-size: 1.2em;
}
#playerTwo {
  color: var(--darkBlue);
  font-size: 1.2em;
}

#tieGames {
  font-size: 1.2em;
}

/* GAME BOARD STYLING  */

#boardContainer {
  width: 100%;
  height: 450px;
  border: 5px solid var(--borderOrange);
}

#gameBoard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 5px solid var(--borderOrange); */
}

.boardSpace {
  border: 2px solid var(--gridLines);
  height: 33.33%;
  width: 33.33%;
}

/* CONTROL PANEL CSS  */

#controlPanel {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--borderOrange);
  font-size: 1.3em;
}

#topControlPanel,
#bottomControlPanel {
  display: flex;
}

#topControlPanel {
  gap: 115px;
  justify-content: center;
  width: 100%;
}

#resetButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#resetButton span {
  font-size: 2em;
}

#resetButton:hover,
#vsPlayer:hover,
#vsComputer:hover {
  cursor: pointer;
  color: var(--hoverColor);
}

#gameMode {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 150px;
}

#gameModeOptions {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

#vsPlayer,
#vsComputer {
  display: flex;
  align-items: center;
  gap: 3px;
}

#designedBy {
  position: absolute;
  bottom: 0;
}

.selectedGameMode {
  background-color: var(--borderOrange);
  border-radius: 15px;
  padding: 5px;
}

#playAs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

#playAsOptions {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-evenly;
}

#playAsX span,
#playAsO span {
  font-size: 2em;
}

#playAsX span:hover,
#playAsO span:hover {
  cursor: pointer;
  color: var(--hoverColor);
}

.selected {
  background-color: var(--borderOrange);
  border-radius: 75%;
  /* padding: 10px; */
}
